.btn {
  display: inline-block;
  min-width: 64px;
  border-radius: 6px;
  text-align: center;

  outline: none;
  border: 0;
  user-select: none;

  background-color: transparent;

  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  color: #3f3f3f;

  cursor: pointer;
  transition: background-color 250ms ease-in-out;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &-fill,
  &-text,
  &-outline {
    &-md {
      font-size: 14px;
    }

    &-sm {
      font-size: 13px;
    }

    &-lg {
      font-size: 15px;
    }
  }

  &-fill {
    background-color: #e0e0e0;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    color: #3f3f3f;

    &:hover,
    &:focus {
      background-color: #aeaeae;
    }

    &-primary {
      color: #fff;
      background-color: #2962ff;

      &:hover,
      &:focus {
        background-color: #0039cb;
      }
    }

    &-secondary {
      color: #fff;
      background-color: #455a64;

      &:hover,
      &:focus {
        background-color: #1c313a;
      }
    }

    &-danger {
      color: #fff;
      background-color: #d32f2f;

      &:hover,
      &:focus {
        background-color: #9a0007;
      }
    }

    &-md {
      padding: 8px 16px;
    }

    &-sm {
      padding: 7px 13px;
    }

    &-lg {
      padding: 10px 21px;
    }

    &:disabled {
      box-shadow: none;
      background-color: #e0e0e0;
    }
  }

  &-outline {
    border: 1px solid rgba(0, 0, 0, 0.23);

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.04);
    }

    &-primary {
      color: #3d5afe;
      border-color: #3d5afe;

      &:hover,
      &:focus {
        background-color: #2962ff1a;
      }
    }

    &-secondary {
      color: #393e46;
      border-color: #393e46;

      &:hover,
      &:focus {
        background-color: #eeeeee;
      }
    }

    &-danger {
      color: rgb(220, 0, 78);
      border-color: rgb(220, 0, 78);

      &:hover,
      &:focus {
        background-color: rgba(220, 0, 78, 0.04);
      }
    }

    &-md {
      padding: 7px 15px;
    }

    &-sm {
      padding: 6px 12px;
    }

    &-lg {
      padding: 9px 20px;
    }

    &:disabled {
      border-color: rgba(0, 0, 0, 0.12);
    }
  }

  &-text {
    &-primary {
      color: #3d5afe;

      &:hover,
      &:focus {
        background-color: #2962ff1a;
      }
    }

    &-secondary {
      color: #393e46;

      &:hover,
      &:focus {
        background-color: #eee;
      }
    }

    &-danger {
      color: rgb(220, 0, 78);

      &:hover,
      &:focus {
        background-color: rgba(220, 0, 78, 0.04);
      }
    }

    &-md {
      padding: 8px 16px;
    }

    &-sm {
      padding: 7px 13px;
    }

    &-lg {
      padding: 10px 21px;
    }
  }

  &:disabled {
    color: #9e9e9e;

    cursor: default;
    pointer-events: none;
  }

  &-disableShadow {
    box-shadow: none;
  }
}
